@model Cantina_agil.Models.Produto

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes</h2>

<div>
    <h4>Produtos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dd>
           <label>Nome:</label> @Html.DisplayFor(model => model.nomeProduto)
        </dd>
        <hr />

        <dd>
           <label>Valor:</label> @Html.DisplayFor(model => model.valor)
        </dd>
        <hr />

    </dl>
</div>
<p>
    <a href=@Url.Action("Edit","Produtos",  new { id = Model.idProduto }) class="btn btn-primary" data-toggle="button">
      Editar
    </a>
    <a href=@Url.Action("Index","Produtos") class="btn btn-primary" data-toggle="button">
        Voltar para Lista
    </a>
</p>
