@model IEnumerable<Cantina_agil.Models.Produto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Produtos</h2>
<p>
    <a href=@Url.Action("Create","Produtos") class="btn btn-primary" data-toggle="button" >
        Criar um novo
      
    </a>
</p>

   <form class="serch" method="post" action=@Url.Action("Index","Produtos")>
        <input type="text" name="stringDePesquisa" placeholder="Nome" />
        <input type="submit" value="Pesquisar"/>
    </form>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>
                    <label class="label-control">Código</label>
                </th>
                <th>
                    <label class="label-control">Nome</label>
                </th>
                <th>
                    <label class="label-control">Valor</label>
                </th>
                <th></th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.idProduto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nomeProduto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.valor)
                </td>
                <td>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <a type="button" data-toggle="button" class="btn btn-primary" autocomplete="off" href=@Url.Action("Edit", "Produtos", new { id = item.idProduto })>
                            Editar
                        </a>
                        <a type="button" data-toggle="button" class="btn btn-primary" autocomplete="off" href=@Url.Action("Details", "Produtos", new { id = item.idProduto })>
                            Detalhes
                        </a>
                        <a type="button" data-toggle="button" class="btn btn-primary" autocomplete="off" href=@Url.Action("Delete", "Produtos", new { id = item.idProduto })>
                            Deletar
                        </a>
                    </div>
                </td>
            </tr>

        }

    </table>
