
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="~/Content/formatationSobre.css" rel="stylesheet" />
</head>

<div class="row">
    <div class="acima">
        <img src="~/Image/BEM-VINDOD.png" />
    </div>
    <h3> Olá! Caro atendente.</h3>
    <div class="bemvindo">
       
        <br>
        Este é seu site feito para você,
        Aqui tudo é facil e ágil para na hora que estiver efetuando a compra não de nenhum problema.
        Além da facilidade, nosso desenvolvedores, pensaram em cada detalhe em satisfazer VOCÊ!!
        Como dando a opção de atualizar seus produtos, inativar ou até editar!!
        Com estoque de fácil acesso para quando sugir uma dúvida sobre seus produtos,
        está la´tudo que deseja.
        Tenha um otimo dia e boas vendas !!!
    </div>

</div>

<hr class="divider">

<div class="row">
    A Cantina Ágil é um lugar onde os alunos vão para recarregar suas
     energia após aulas cansativas dos cursos do Senai Prof. Dr. Euryclides
     de Jesus Zerbini, logo depois de saborear os deliciosos salgados do estabelecimento,
     estão prontos para voltar as aulas e usufruir mais do conteúdo ensinado.
    Esse aplicativo tem o intuito de passar o menu da Cantina, para os
     alunos se planejarem o que vão comprar e o preço dos produtos dão
     assim uma certa segurança ao fechar a compra.


</div>

