
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div>
        <table class="table table-borderless">
           
                <tr>
                    <th> </th>
                    <th> </th>
                    <th> <img src="~/Image/images.png" /></th>
                    <th> <img src="~/Image/images.png" /></th>
                </tr>
          
                <tr>
                    <th> <img src="~/Image/images.png" /></th>
                    <td> <img src="~/Image/images.png" /></td>
                    <td> <img src="~/Image/images.png" /></td>
                    <td> <img src="~/Image/images.png" /></td>
                </tr>
                <tr>
                    <th> <img src="~/Image/images.png" /></th>
                    <td> <img src="~/Image/images.png" /></td>
                    <td> <img src="~/Image/images.png" /></td>
                    <td> <img src="~/Image/images.png" /></td>
                </tr>
            
        </table>
    </div>
</div>