@model IEnumerable<Cantina_agil.Models.Transacao>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Compra a Prazo</h2>

<p>
    <a href=@Url.Action("Create","Vendas") class="btn btn-primary" data-toggle="button">
        Criar um Novo
    </a>
</p>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                <label>Valor</label>
            </th>
            <th>
                <label>Data da transação</label>
            </th>
            <th>
                <label>Data de Pagamento</label>
            </th>
            <th>
                <label>Nome do Cliente</label>
            </th>
            <th></th>
        </tr>
    </thead>
    
            @foreach (var item in Model) {   
                <tr>            
                <td>
                    
                    @Html.DisplayFor(modelItem => item.valorTransacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dataTransacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dataPagamento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.nomeCliente)
                </td>
                <td>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <a type="button" data-toggle="button" class="btn btn-primary" autocomplete="off" href=@Url.Action("Edit", "Vendas", new { id = item.idTransacao })>
                            Editar
                        </a>
                        <a type="button" data-toggle="button" class="btn btn-primary" autocomplete="off" href=@Url.Action("Details", "Vendas", new { id = item.idTransacao })>
                            Detalhes
                        </a>
                        <a type="button" data-toggle="button" class="btn btn-primary" autocomplete="off" href=@Url.Action("Delete", "Vendas", new { id = item.idTransacao })>
                            Deletar
                        </a>
                    </div>
                </td>
            </tr>
        }
  
</table>

