@model Cantina_agil.Models.Transacao
@{
    ViewBag.Title = "Pdv";
    Layout = "~/Views/Shared/_LayoutVenda.cshtml";
}

<div class="align-self-center">
    <div class="container margin-top-mob-10px">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Código</span>
            </div>
            <label>Codigo</label>
            <input id="cpCodigo" onkeyup="PressKeyCpCodigo();" type="text" aria-label="First name" class="form-control">
            <input id="cpQuant" onkeyup="PressKeyCpQuant();" type="text" aria-label="Last name" class="form-control">
        </div>
        <div class="voltar">
            <a class="btn btn-primary" href=@Url.Action("Index", "Menu")>
               <span class="input-group-text">Voltar</span>
               </a>
            <a class="btn btn-primary" href="#" onclick="addProduto();">
                <span class="input-group-text">Confirmar</span>
            </a>
            </div>
               </div>
                <div class="col-xs-12 col-md-6">

                    <div class="container-venda height-675px-mob" >



                        <input data-val="true" data-val-number="The field NotaFiscalConsumidorId must be a number." data-val-required="The NotaFiscalConsumidorId field is required." id="NotaFiscalConsumidorId" name="NotaFiscalConsumidorId" type="hidden" value="230581" />

                        <div class="container-venda-lista">
                            <table class="table">
                                        <tr>
                                            <th>
                                                <label class="label-control">Código</label>
                                            </th>
                                            <th>
                                                <label class="label-control">Nome</label>
                                            </th>
                                            <th>
                                                <label class="label-control">Valor</label>
                                            </th>
                                            <th>
                                                <label class="label-control">Quantidade</label>
                                            </th>
                                        </tr>
                                    <tbody id="areaLancamentos" class="campodeprodutos">


                                        <div class="campodecompra">

                                            <h2 id="ValorTotal">Preço Total: 0,00</h2>

                                        </div>
                                    </tbody>
                                </table>
                        </div>


                                <div class="container-venda-acoes">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <a href="#" id="btnLimpar" class="btn btn-danger btn-lg font-size-13px-mob">Cancelar</a>
                                        </div>
                                        <div class="col-xs-6">
                                            <a href="#" id="btnPagamento" class="btn btn-success btn-lg  font-size-13px-mob"> Pagamento</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
        </div>

<p>
    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        Link with href
    </a>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Button with data-target
    </button>
</p>
<div class="collapse" id="collapseExample">
    <div class="card card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
    </div>
</div>
          