
.col-xl-10, .col-lg-12, .col-md-9{
    margin-top:170px;
}

.col-md-10{
padding-right:10px;
width:100px;
margin-left:10px;
}

.texto{
    color:#fdfeff;
}

.form-group{
    margin-left:200px;
    width:100%;
}

.mb-4{
    margin-left:200px;
}

input{
    width:300px;
}

.row{
    width:70%;
}


.h4{
    margin-left:30px;
}

.col-lg-6{
    margin-left:200px;
}

.col-xl-10, .col-lg-12, .col-md-9 {
    margin-left: 180px;
}