
.col-xl-10, .col-lg-12, .col-md-9{
    margin-top:100px;
}

.container {
  padding-top:30px;

}

.card {
background-color:orange;
border-radius:25px;
padding-bottom:100px;
}

.btn{
background-color:#8B2500;
border-color:#CD3700;

} 

.btn:hover{
background-color:#8B0000;
border-color:#8B0000;

} 

.control-label{
    color:#151515;
   
}

.col-md-10{
padding-right:10px;
width:600px;
margin-left:10px;
}

.form-group{
  margin-left:40px;
}

.nav-link{
    margin-top:10px;
    margin-bottom:10px;
}

.justify-content-center{
   margin-bottom:40px;
}
#page-top{
    padding-bottom:0px;
    padding-top:0px;
}

.navbar-nav{
    background-color:greenyellow;
}

.accordion{
        background-color:greenyellow;

}

.topbar {
            background-color:greenyellow;

}

.bg-white{ background-color:greenyellow;

}

.navbar-light{background-color:greenyellow;

}

.navbar-expand{
                background-color:greenyellow;

}            

.mb-4{
                    background-color:greenyellow;

}