@model Cantina_agil.Models.Sangria

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes</h2>

<div>
    <h4>Sangria</h4>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            <label>Abertura</label>  @Html.DisplayFor(model => model.abertura)
        </dd>
        <hr />

        <dd>
            <label>Fechamento</label>  @Html.DisplayFor(model => model.fechamento)
        </dd>
        <hr />

        <dd>
            <label>Valor</label>  @Html.DisplayFor(model => model.valorSangria)
        </dd>
        <hr />

        <dd>
            <label>Nome Atendente</label>   @Html.DisplayFor(model => model.Atendente.nomeAtendente)
        </dd>
        <hr />

    </dl>
</div>
<p>
      <a href=@Url.Action("Edit","Atendentes" , new { id = Model.idSangria }) class="btn btn-primary" data-toggle="button" >
        Editar
        </a>
        <a href=@Url.Action("Index","Sangrias") class="btn btn-primary" data-toggle="button">
            Voltar para Lista
        </a>
</p>
